#main {
   background-color: darkkhaki;
    height: 1000px;
}

#title {
    text-align: center;
    color: white;
    background-color: red;

}
#about-div {
    border: 2px  solid #292929;
    height:200px;
    width: 350px;
    display: flex;
    justify-content: end;
}

